[base]
prefix = bot!
token = token_goes_here
description = The AkBKukU Discord Bot.

[database]
server = localhost
port = 5433
database = akbkuku_discord_bot
database_schema = production
username = postgres
password = password